@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lobster+Two&family=Poppins:wght@300&family=Roboto:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    height: 100px;
    width: 100%;
    background-color:#2b5a80;
}

.list{
    height:100px;
    margin-right: 10%;
    float: right;
} 
.list li{
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
} 
.list li a{
    color: black;
    font-family: 'Akaya Telivigala', cursive;
}
  
.list li a:hover{
    color: rgb(102, 173, 10);
}

/*Home*/
.home{
    display: block;
    background-image: url("image/back1.png");
    width: 100%;
    height: 800px;
}
.home .intro{
    text-align: center;

}
.home .intro .text-1{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding-bottom: 20px;
}
.home .intro .text-1:hover{
    font-size: 0px;
}

.home .intro .text-1:hover:after{
    content: attr(dat-hover);
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding-bottom: 20px;
}

.home .intro .text-2{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    padding-bottom: 30px;
}
.home .intro .text-2:hover{
    font-size: 0px;
}
.home .intro .text-2:hover:after{
    content: attr(data-hover);
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    padding-bottom: 30px;
}
.home .intro .log{
    border-radius: 50%;
    border-width:5px;  
}

.home .intro .car{
    height: 512px;
    width: 512px;
    float: right;
    right: -400px;
    display: block;
    background-image: url("image/car.png");
    position: absolute;
    background-repeat: repeat-x;
    animation: car 5s linear infinite;
}
.home .intro .cafe{
    height: 41px;
    width: 220px;
    float: right;
    top: 485px;
    right: 250px;
    display: block;
    background-color: red;
    position: absolute;
    background-repeat: space;
    animation: cafe 4s infinite;
    opacity: 0.5;
}
@keyframes car{
    100%{
        transform: translateX(-3400px);
    }
}
@keyframes cafe{
    0%   {background-color: red;}
  25%  {background-color: blue;}
  50%  {background-color: green;}
  100% {background-color: red;}
}
/*About*/
.about{
    display: block;
    background-image: url("image/back2.png");
    height: 800px;
}
.about .talk{
    text-align: center;
    width: 300px;
    margin-left: 38%;
    padding-top: 100px;
}
.about .talk .Atext-1{
    padding-bottom: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    font-weight: 900px;
    
}
.about .talk .Atext-2{
    padding-bottom: 50px;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
/*Skills*/

.skills{
    background: #ff9336;

}
.skills .project{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
}
.skills .content{
    display: inline-flex;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20%;
}
.skills .content .card{
    width: calc(33%-20px);
    color: black;
    background: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    margin: 20px;
}
.skills .content .card .box i{
    font-size: 30px;
    padding: 30px;
    color: rgb(102, 173, 10);
}
.skills .content .card .box .stext-1{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    padding-bottom: 5px;
}
.skills .content .card .box .stext-2{
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 20px;
}
.skills .content .card .box .stext-3{
    font-size: 15px;
    padding-bottom: 5px;
}
.skills .content .card .box .stext-4{
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 20px;
}
.skills .content .card .box .stext-5{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
}
/*Work*/
.works{
    background-color:  #1967cf;
    height: 700px;
}
.works .project{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
}
.works .size{
    margin-left: 3%;
    margin-right: 3%;
}
.works .carousel{
    margin-top: 5em;
    display: block;
    border-radius: 6px;
    padding: 25px 35px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: #1681c9;
}
.works .carousel .items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works .carousel .items img{
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 250px;
    margin-left: 15%;
    text-align: center;
    padding: 20px;
    padding-top: 40px;

}
.works .carousel .items p{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.owl-dots{
    display: flex;
    margin-top: 30px;
    text-align: center;
    margin-left: 47%;
    margin-right: 47%;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #2b5a80!important;
    transition: all 0.3s ease;

}
.owl-dot.active{
    width: 25px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot:hover{
    background: #2b5a80!important;
}
/*Contact*/
.contact{
    background-color: #9b13d4;
    display: block;
    height: 500px; 
}
.contact .con{
    padding: 30px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #841ab0;
}
.contact .con .frn{
    padding: 25px;  
    font-family: 'Lobster Two', cursive;
}
.contact .con .frn .frnl{
    text-align: center;
    font-size: 30px;
}
.contact .con .frn .conta{
    font-size: 50px;
    background-color: #000;
    border: none;
    margin-top: 30px;  
}
.contact .con .frn .conta a{
    color: white;  
    padding: 10px;
    font-family: 'Teko', sans-serif;
}
.contact p{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
}
.contact .in{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
@media(max-width:900px)
{
    .list{
        height:100px;
        margin-left: 25%;
    } 
}
@media(max-width:829px)
{
    .list{
        height:100px;
        margin-left: 15%;
    } 
}
@media(max-width:500px)
{
    nav{
        height: 80px;
    }
    .list li{
        display: inline-block;
        margin: 0 10px;
        line-height: 80px;
    } 
    .list li a{
        font-size: 15px;

    }
    .home{
        display: block;
        background-image: url("image/back1.png");
        width: 100%;
        height: 800px;
    }
    .home .intro{
        text-align: center;
    
    }
    .home .intro .text-1{
        text-align: center;
        font-family: 'Akaya Telivigala', cursive;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .home .intro .text-1:hover{
        font-size: 0px;
    }
    
    .home .intro .text-1:hover:after{
        content: attr(dat-hover);
        font-family: 'Akaya Telivigala', cursive;
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    .home .intro .text-2{
        font-family: 'Lobster Two', cursive;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .home .intro .text-2:hover{
        font-size: 0px;
    }
    .home .intro .text-2:hover:after{
        content: attr(data-hover);
        font-family: 'Lobster Two', cursive;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .home .intro .log{
        border-radius: 50%;
        border-width:5px;  
    }
    
    .home .intro .car{
        height: 512px;
        width: 512px;
        float: right;
        right: -400px;
        display: block;
        background-image: url("image/car.png");
        position: absolute;
        background-repeat: repeat-x;
        animation: car 5s linear infinite;
    }
    @keyframes car{
        100%{
            transform: translateX(-3400px);
        }
    }
    .home .intro .cafe{
        display: none;
    }
    .about{
        display: block;
        background-image: url("image/back2.png");
        height: 800px;
    }
    .about .talk{
        text-align: center;
        width: 200px;
        margin-left: 20%;
        padding-top: 100px;
    }
    .about .talk .Atext-1{
        text-align: center;
        padding-bottom: 10px;
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        font-weight: 900px;
        
    }
    .about .talk .Atext-2{
        padding-bottom: 50px;
        font-family: 'Lobster Two', cursive;
        font-size: 20px;
    }
    .skills{
        background: #ff9336;
    
    }
    .skills .project{
        font-family: 'Lobster Two', cursive;
        font-size: 30px;
        text-align: center;
        padding-top: 3%;
    }
    .skills .content{
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        margin-left: 5%;
    }
    .skills .content .card{
        width: calc(33%-20px);
        color: black;
        background: whitesmoke;
        text-align: center;
        border-radius: 6px;
        padding: 20px 25px;
        cursor: pointer;
        margin: 20px;
    }
    .skills .content .card .box i{
        font-size: 30px;
        padding: 30px;
        color: rgb(102, 173, 10);
    }
    .skills .content .card .box .stext-1{
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        padding-bottom: 5px;
    }
    .skills .content .card .box .stext-2{
        font-family: 'Lobster Two', cursive;
        font-size: 18px;
        padding-bottom: 5px;
        padding-top: 20px;
    }
    .skills .content .card .box .stext-3{
        font-size: 15px;
        padding-bottom: 5px;
    }
    .skills .content .card .box .stext-4{
        font-family: 'Lobster Two', cursive;
        font-size: 18px;
        padding-bottom: 5px;
        padding-top: 20px;
    }
    .skills .content .card .box .stext-5{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding-bottom: 5px;
    }
    /*Work*/
    .works{
        background-color:  #2b5a80;
        height: 700px;
    }
    .works .project{
        font-family: 'Lobster Two', cursive;
        font-size: 30px;
        text-align: center;
        padding-top: 3%;
    }
    .works .carousel{
        margin-top: 5em;
        display: block;
        border-radius: 6px;
        padding: 25px 35px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        background-color: #0c3c5d;
    }
    .works .carousel .items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .works .carousel .items img{
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 250px;
        margin-left: 15%;
        text-align: center;
        padding: 20px;
        padding-top: 40px;
    
    }
    .works .carousel .items p{
        font-family: 'Teko', sans-serif;
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .owl-dots{
        display: none;
    }
    /*Contact*/
    .contact{
        background-color: #7e7e7e;
        display: block;
        height: 500px; 
    }
    .contact .con{
        padding: 30px; 
        text-align: center;
        padding-top: 10rem;
        justify-content: center;
        align-items: center;
    }
    .contact .con .frn{
        padding: 30px;    
    }
    .contact .pad{
        margin-top: 20rem;
    }
    .contact .pad p{
        text-align: center;
        font-size: 15px;
    }
    .contact .pad .in{
        font-family: 'Teko', sans-serif;
        font-size: 20px;
    }
    

}
@media(max-width:400px)
{
    nav{
        height: 50px;
        width: 100%;
    }
    .list{
        margin-left: 10%;
    } 
    .list li{
        display: inline-block;
        margin: 0 10px;
        line-height: 50px;
    } 
    .list li a{
        font-size: 11px;
        font-weight: 900;
    } 
    .skills .content{
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        margin-left: 2%;
    }
}
@media(max-width:300px)
{
    nav{
        height: 50px;
        width: 100%;
    }
    .list{
        margin-left: 7%;
    } 
    .list li{
        display: inline-block;
        margin: 0 5px;
        line-height: 50px;
    } 
    .list li a{
        font-size: 10px;
        font-weight: 600;
    } 
}
